$color-white: #fff;
$color-white-lighten: #ededed;
$color-black: #000;
$color-black-lighten: #464646;
$color-grey: #7b7b7b;
$color-grey-lighten: #efefef;
$main-disabled: rgba(0, 0, 0, 0.3);
$secondary-disabled: rgba(255, 255, 255, 0.3);
$bg-color: rgba(255, 255, 255, 0.75);
