$main-color: #fff;
$main-color-lighten: #ededed;
$secondary-color: #000;
$secondary-color-lighten: #464646;
$color-grey: #7b7b7b;
$color-grey-lighten: #efefef;
$main-border-color: rgba(0, 0, 0, 0.3);
$secondary-border-color: rgba(255, 255, 255, 0.3);
$bg-color: rgba(255, 255, 255, 0.75);
