@use "../../styles" as s;

.cardList {
  @include s.flex(center, flex-start) {
    flex-direction: column;
  }
  width: 100%;

  .filters {
    height: 45px;
    display: flex;
    width: 100%;
  }

  .cards {
    @include s.flex() {
      flex-grow: 1;
      flex-wrap: wrap;
      gap: 20px;
    }
    padding: 45px 0px 40px;
  }

  .pagination {
    height: 41px;
    width: 100%;
    display: flex;

    .wrapper {
      display: grid;
      grid-gap: 1px;
      grid-auto-columns: 1fr;
      grid-template-rows: 1fr;

      .firstPageBtn {
        border-radius: 6px 0px 0px 6px;
      }

      .lastPageBtn {
        border-radius: 0px 6px 6px 0px;
      }

      button {
        width: 40px;
        height: 40px;
        outline: 1px solid var(--color-secondary);
        color: var(--color-text);
      }
    }
  }
}
