@use "../../styles" as s;

.layout {
  @include s.flex() {
    flex-direction: column;
  }
  min-height: 100vh;
  background-color: var(--color-bg);
  padding: 25px 20px;

  .main {
    @include s.flex(flex-start, center) {
      flex-grow: 1;
    }
    width: 100%;
    color: var(--color-text);
  }

  @media screen and (min-width: 768px) {
    padding: 35px 34px;
  }

  @media screen and (min-width: 1024px) {
    padding: 35px 42px;
  }

  @media screen and (min-width: 1366px) {
    padding: 35px 123px;
  }
}
